*{
    margin: 0;
    padding: 0;
}

$tituloamarillo: rgb(236, 195, 12);
$fondoamarillo: rgb(255, 213, 23);

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    display: flex;
	height: 100vh;
	flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

header{
    width: 100%;
    background-color: #757474;
    padding: 10px;
}

h1{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    padding: 10px;
}

ul{
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-weight: bold;  
    padding: 5px;
    li{
        display: inline;
        position: relative;
        text-decoration: none;
        ul{
            display: none;
            position: absolute;
            left: 0px;
            background-color: $fondoamarillo ;
            text-align: left; 
            padding-left: 3px;
        }
    }
    li:hover ul{
        display: block;
         }
}

.nav{
    background-color: $fondoamarillo;
    padding: 7px;
    margin: 10px;
    width: 550px;
    text-align: center;
}

.sinSubrayado{
    text-decoration: none;
 }
 
.menu{
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-weight: bold;  
    padding: 5px;
 }

li{
    display: inline;
    position: relative;
}
.subMenu{
     display: none;
     position: absolute;
     background-color: $fondoamarillo;
     left: 0px;
     text-align: left;
     padding-left: 3px;
 }

 h2{
    color: $tituloamarillo;
    font-size: 50px;
    padding-left: 30px;
}

p{
    color: rgb(63, 63, 63);
    text-align: justify;
}

 /*Footer*/
.footer{
    background: linear-gradient(to bottom, #2f2e2e,#615d5a);
    padding: 10px;
    flex: 1; 
}

.footer__textos{
    color: #eeeeed;
    font-weight: bold;
}

.footer__copy{
    @extend .footer__textos;
    font-size: 10px
}

.footer__textos--padding{
    padding-left: 5px;
}
/*Footer*/

/*Talleres*/
$ancho: 1080px;

section{
    width: $ancho;
    padding-left: 5px;
    article{
        width: $ancho/3;
        p{
            width: ($ancho/3) - 2;
        }
    }
}