*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center; }

#bodyColor{
    background-color: #e7e7e7;
}

header{
    width: 100%;
    background-color: #2f2e2e;
    padding: 10px;
    position:fixed; z-index:2;
}

h1{
    visibility: hidden;
}

.main{
    margin-top: 160px; z-index:1;

}


ul {
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-weight: bold;
    padding: 5px; }
    ul li {
      display: inline;
      position: relative;
      text-decoration: none; }
      ul li ul {
        display: none;
        position: absolute;
        left: 0px;
        background-color: #ffd517;
        text-align: left;
        padding-left: 3px; }

h2{
     color: rgb(236, 195, 12);
     padding-left: 30px;
}


p{
     color: rgb(63, 63, 63);
     text-align: justify;
}

.borde{
     border: solid 2px black;
}


#h2novedades{
    font-size: 60px;
    padding-left: 70px;
}

/*Footer*/
#contactoLeft{
    text-align: left;
    padding-left: 20px;
}
#horarioLeft{
    text-align: left;
    padding-left: 20px;
}
.sec-footer{
    background: #3f3e3e;
    direction: rtl;
    text-align: center;
    color: rgb(211, 211, 211);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
#mail-footer{
    color: rgb(211, 211, 211);
    text-decoration: none;
}
.sec-footer .desc-box{
    background: transparent;
    border: 0;
}
.sec-footer .desc-box .card-title::after{
    content: ' ';
    background: #9b9b9b;
    display: block;
    width: 95%;
    height: 0.2rem;
    margin-top:0.3rem;
}
.sec-footer .desc-box .card-text{
    font-family:iranyekan_light;
    text-align: justify;
}
.sec-sub-footer{
    background: #78787a;
    direction: rtl;
    text-align: left;
    color: #000;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size:0.8rem;
}
.sec-sub-footer a{
    font-size:0.8rem;
}

.copy{
    text-align: center;
}


/*Historia*/
#h2historia{
    font-size: 60px;
    padding-left: 70px;
}
/*Grid para Historia*/
.articleHistoria{
    padding-top: 30px;
}
#div1{
    grid-area: div1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    font-size: 17px;
}
#div2{
    grid-area: div2;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 17px;
}
#f1{
    grid-area: foto1;
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
#f1:hover{
    transform: scale(2);
    position: relative;
    bottom: -140px;
    left: -400px;   
}
#f2{
    grid-area: foto2;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
#f2:hover{
    transform: scale(2);
    position: relative;
    bottom: 160px;
    left: 400px;
}
#gridHistoria{
    display: grid;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-areas: 
    "div1 div1 foto1"
    "foto2 div2 div2"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
/* Fin de Grid para Historia*/

/*Servicio*/
#h2servicio{
    font-size: 60px;
    padding-left: 70px;
}

#containerServicio{
    margin-top: 10px;
    font-size: 17px;
}

#containerPrestamo{
    background-color: #f7f7f7;
    font-size: 15px;
}

#listaLibros{
    list-style-type: square;
}

#listaColor{
    color: rgb(236, 195, 12);
}

#texList{
    color: black;
}

#h3servicio{
    color:rgb(236, 195, 12);
    font-weight: bold;
}

.carousel-inner img {
    margin: auto;
  }

/*Talleres*/
#h2talleres{
    font-size: 60px;
    padding-left: 70px;
}

#año{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}

#imgTalleres1{
    grid-area: imgt1;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
#divTalleres1{
    grid-area: divt1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    font-size: 17px;
}
#gridTalleres1{
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-areas: 
    "imgt1 divt1 divt1"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#imgTalleres2{
    grid-area: imgt2;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
#divTalleres2{
    grid-area: divt2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    font-size: 17px;
}
#gridTalleres2{
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-areas: 
    "imgt2 divt2 divt2"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#imgTalleres3{
    grid-area: imgt3;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
#divTalleres3{
    grid-area: divt3;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    font-size: 17px;
}
#gridTalleres3{
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-areas: 
    "imgt3 divt3 divt3"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}


/*Maraton*/
#h2maraton{
    font-size: 60px;
    padding-left: 70px;
}

#containerMaraton{
    margin-top: 10px;
    font-size: 17px;
}

#containerMaraton2{
    background-color: #f7f7f7;
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#h3maraton{
    color:rgb(236, 195, 12);
    font-weight: bold;
}
#h3maraton2{
    color:rgb(236, 195, 12);
    font-weight: bold;
}
#h3maraton3{
    color:rgb(236, 195, 12);
    font-weight: bold;
}
#containerMaraton3{
    background-color: #f7f7f7;
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#listaMaraton{
    list-style-type: square;
}
#listaColorM{
    color: rgb(236, 195, 12);
}
#textList{
    color: black;
}
#listaMaraton2{
    list-style-type: square;
}
#listaColorM2{
    color: rgb(236, 195, 12);
}
#textList2{
    color: black;
}

/*Visitas*/
#h2visitas{
    font-size: 60px;
    padding-left: 70px;
}

/*Contacto*/
#h2contacto{
    font-size: 60px;
    padding-left: 70px;
}



/*Mobile First*/

/* Smartphone */
@media (max-width: 599px){
    *{
        margin: 0;
        padding: 0;
    }

    #nov{
        padding: 0cm;
        margin: 0cm;
    }
    
    body {
        font-size: 0.75rem;
    }
    li{
        display: block;
        position: relative;
    }

    #h2novedades{
        font-size: 30px;
    }

   
    #h2historia{
        font-size: 30px;
    }

    .articleHistoria{
        padding-top: 20px;
    }
    #div1{
        padding-left: 30px;
        padding-right: 5px;
        padding-top: 0px;
        font-size: 15px;
    }
    #div2{
        padding-left: 30px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-top: 20px;
        font-size: 15px;
    }
    #f1{
        margin-right: auto;
        margin-left: auto;
    }
    #f2{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    #f1:hover{
        transform: scale(1);
        position: relative;
        bottom: 0px;
        left: 0px;   
    }
    #f2:hover{
        transform: scale(1);
        position: relative;
        bottom: 0px;
        left: 0px;   
    }
    #gridHistoria{
        display: grid;
        padding-left: 0px;
        padding-right: 20px;
        grid-template-areas: 
        "div1"
        "foto1"
        "div2"
        "foto2" 
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .logoISLG {
        width: 63px;
        height: 90px;
    }
    .logoBiblio{
        width: 109px;
        height: 53px;
    }
    .main{
        margin-top: 120px; z-index:1;
    
    }
    #h2servicio{
        font-size: 30px;
    }

    #h2talleres{
        font-size: 30px;
    }
    #imgTalleres1{
        grid-area: imgt1;
        margin-left: 25px;
        padding-top: 10px;
        padding-left: 10px;
    }
    #divTalleres1{
        grid-area: divt1;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        font-size: 17px;
    }
    #gridTalleres1{
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-areas: 
        "divt1"
        "imgt1 "
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    #imgTalleres2{
        grid-area: imgt2;
        margin-left: 25px;
        padding-top: 10px;
        padding-left: 10px;
    }
    #divTalleres2{
        grid-area: divt2;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        font-size: 17px;
    }
    #gridTalleres2{
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-areas: 
        "divt2"
        "imgt2"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #imgTalleres3{
        grid-area: imgt3;
        margin-left: 25px;
        padding-top: 10px;
        padding-left: 10px;
    }
    #divTalleres3{
        grid-area: divt3;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        font-size: 17px;
    }
    #gridTalleres3{
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-areas: 
        "divt3"
        "imgt3"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #h2visitas{
        font-size: 30px;
    }
    #h2maraton{
        font-size: 30px;
    }
    #h2contacto{
        font-size: 30px;
    }
}
/* Tablet */
@media (min-width: 600px) and (max-width: 1023px){
    *{
        margin: 0;
        padding: 0;
    }
    
    body {
        font-size: 1rem;
    }
    li{
        display: block;
        position: relative;
    }

    #h2novedades{
        font-size: 40px;
    }
    #h2historia{
        font-size: 40px;
    }

    .articleHistoria{
        padding-top: 20px;
    }
    #div1{
        padding-left: 30px;
        padding-right: 5px;
        padding-top: 0px;
        font-size: 15px;
    }
    #div2{
        padding-left: 30px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-top: 20px;
        font-size: 15px;
    }
    #f1{
        margin-right: auto;
        margin-left: auto;
    }
    #f2{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    #f1:hover{
        transform: scale(1);
        position: relative;
        bottom: 0px;
        left: 0px;   
    }
    #f2:hover{
        transform: scale(1);
        position: relative;
        bottom: 0px;
        left: 0px;   
    }
    #gridHistoria{
        display: grid;
        padding-left: 0px;
        padding-right: 20px;
        grid-template-areas: 
        "div1"
        "foto1"
        "div2"
        "foto2" 
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .logoISLG {
        width: 63px;
        height: 90px;
    }
    #h2servicio{
        font-size: 40px;
    }

    #h2talleres{
        font-size: 40px;
    }
    #imgTalleres1{
        grid-area: imgt1;
        margin-left: 25px;
        padding-top: 10px;
        padding-left: 10px;
    }
    #divTalleres1{
        grid-area: divt1;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        font-size: 17px;
    }
    #gridTalleres1{
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-areas: 
        "divt1"
        "imgt1 "
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #imgTalleres2{
        grid-area: imgt2;
        margin-left: 25px;
        padding-top: 10px;
        padding-left: 10px;
    }
    #divTalleres2{
        grid-area: divt2;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        font-size: 17px;
    }
    #gridTalleres2{
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-areas: 
        "divt2"
        "imgt2"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #imgTalleres3{
        grid-area: imgt3;
        margin-left: 25px;
        padding-top: 10px;
        padding-left: 10px;
    }
    #divTalleres3{
        grid-area: divt3;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        font-size: 17px;
    }
    #gridTalleres3{
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-areas: 
        "divt3"
        "imgt3"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #h2visitas{
        font-size: 40px;
    }
    #h2maraton{
        font-size: 40px;
    }

    #h2contacto{
        font-size: 40px;
    }
}

/* Desktop */
@media (min-width: 1024px){
    .main{
        padding: 20px;
     }
    }
    